* {
    margin: 0;
    color: var(--white);
}

:root{
    --black: #211830;
    --white: #ecf0f1;
    font-family: "Courier Prime", monospace;
}

body{
    background-color: var(--black);
}

#command-line {
    background-color: transparent;
    font-family: "Courier Prime", monospace;
    border: none;
    outline: none;
    font-size: 16px;
    width: calc(100% - 16ex);
}

.secret {
    background-color: transparent;
    font-family: "Courier Prime", monospace;
    border: none;
    outline: none;
    font-size: 16px;
    width: calc(100% - 16ex);
}

#content {
    font-family: "Courier Prime", monospace;
    font-size: 16px;
}

#input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.terminal-div{
    margin-left: 20px;
}

.file-list {
    display: inline-block;
    margin-right: 20px;
}

.color-blue {
    color: #5ad6ff;
    text-decoration-color: #5ad6ff;
}

.color-white {
    color: var(--white);
}

.color-pink{
    color: #e60efe;
}

.color-purple{
    color: #9d0ffd;
}

.color-red{
    color: #ff0000;
}

.color-green {
    color: rgb(26, 255, 0);
}